
@import "tailwindcss";

:root {
    /*background-image: url('@/assets/images/background.jpg');*/
    font-family: 'Inter', sans-serif;
}

@theme {
    --color-main-50: rgb(234,232,228);
    --color-main-100: rgb(213,209,202);
    --color-main-200: rgb(192,185,175);
    --color-main-300: rgb(171,162,148);
    --color-main-400: rgb(150,139,122);
    --color-main-500: rgb(126,115,99);
    --color-main-600: rgb(105,96,82);
    --color-main-700: rgb(84,77,66);
    --color-main-800: rgb(63,57,49);
    --color-main-900: rgb(42,38,33);
}

.scrollbar-overlay::-webkit-scrollbar {
  height: 6px;
}
.scrollbar-overlay::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-overlay::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
}

/* body::before {
    content: "";
    position: fixed;
    inset: 0;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    z-index: -1;
} */

:focus-visible {
    @apply outline-2 outline-stone-500;
}

@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/Inter_28pt-Medium.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.mainHeader {
    @apply text-3xl self-center font-bold pl-5 pr-5;
}

.CoButton {
    @apply text-stone-600 hover:text-stone-500 font-bold cursor-pointer;
}