
@import "tailwindcss";

:root {
    font-family: 'Ubuntu', sans-serif;
    @apply bg-gray-100;
}

@theme {
    --color-main-50: rgb(234,232,228);
    --color-main-100: rgb(213,209,202);
    --color-main-200: rgb(192,185,175);
    --color-main-300: rgb(171,162,148);
    --color-main-400: rgb(150,139,122);
    --color-main-500: rgb(126,115,99);
    --color-main-600: rgb(105,96,82);
    --color-main-700: rgb(84,77,66);
    --color-main-800: rgb(63,57,49);
    --color-main-900: rgb(42,38,33);

    --color-main-50:  rgb(225, 228, 243);
    --color-main-100: rgb(200, 206, 234);
    --color-main-200: rgb(172, 184, 224);
    --color-main-300: rgb(145, 160, 214);
    --color-main-400: rgb(105, 124, 198);
    --color-main-500: rgb(58, 64, 90);   /* Basisfarbe */
    --color-main-600: rgb(48, 53, 75);
    --color-main-700: rgb(38, 42, 60);
    --color-main-800: rgb(29, 32, 45);
    --color-main-900: rgb(20, 22, 30);
}

@layer base {
  button {
    cursor: pointer;
  }
}

.scrollbar-overlay::-webkit-scrollbar {
  height: 6px;
}
.scrollbar-overlay::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-overlay::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.3);
}

:focus-visible {
    @apply outline-2 outline-main-500;
}

@font-face {
    font-family: 'Inter';
    src: url('@/assets/fonts/Inter_28pt-Medium.ttf') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.mainHeader {
    @apply text-3xl self-center font-bold pl-5 pr-5;
}

.subHeader {
    @apply text-2xl self-center font-semibold; 
}

.CoButton {
    @apply text-stone-600 hover:text-stone-500 font-bold cursor-pointer;
}